<div class="container">
    <div class="navbar">
        <div class="row left-nav" style="width: 100%;">
            <div class="col-md-6" style="display: contents">
                <img src="assets/CivicBridgeLogo.png" alt="Civic Bridge Logo" class="navbar-logo" height="60px">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search..." >
                    <button class="search-btn" type="button" (click)="fetchData()"> Search </button>
                </div>
            </div>

            <div class="col right-nav">
                <button type="button" class="btn btn-details btn-margin" (click)="navigateToAll()"> <i class="fas fa-list me-2"></i> All Concerns </button>
                <button type="button" class="btn btn-details btn-margin" (click)="openRolePopup()" *ngIf="userRole === 'ADMIN'"> <i class="fas fa-user-check me-2"></i> Change Role Access </button>
                <button type="button" class="btn btn-details" (click)="openUploadPopup()" *ngIf="userRole !== 'ADMIN'"> <i class="fas fa-upload me-2"></i> Upload Concerns </button>
                    <div class="popup-overlay" *ngIf="showUploadPopup && popupType === 'UPLOAD'">
                        <div class="popup-content">
                            <h3 class="display-style mb-3">Upload New Concern</h3>
                            <form [formGroup]="uploadForm" (ngSubmit)="submitConcern()" class="overlay-style">
                        
                            <input type="text" formControlName="title" placeholder="Concern Title" style="border-radius: 5px; padding-left: 5px;" required /> 
                                <div class="error-message" *ngIf="uploadForm.get('title')?.touched && uploadForm.get('title')?.invalid">
                                    Title is required.      </div>               
                            <input type="text" formControlName="imageUrl" placeholder="Paste image URL here" style="border-radius: 5px; padding-left: 5px;" required /> 
                                <div class="error-message" *ngIf="uploadForm.get('imageUrl')?.touched && uploadForm.get('imageUrl')?.invalid">
                                    Image URL is required.
                                </div>
                       
                            <textarea formControlName="description" placeholder="Concern Description" style="border-radius: 5px; padding-left: 5px;" required></textarea> 
                                <div class="error-message" *ngIf="uploadForm.get('description')?.touched && uploadForm.get('description')?.invalid">
                                    Description is required.   </div>                                           
                            <select formControlName="location" class="p-1" required>
                                <option value="" disabled selected>Select Location</option>
                                <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
                            </select>
                            <div class="error-message" *ngIf="uploadForm.get('location')?.touched && uploadForm.get('location')?.invalid">
                                Location is required.
                            </div>
                            <!-- <input type="text" formControlName="comments" placeholder="Add Concern Comments" style="border-radius: 5px; padding-left: 5px;" /> -->
                            <div class="concerns-btn">
                                <button type="submit" class="submit-btn">Submit</button>
                                <button type="button" (click)="closeUploadPopup()" class="cancel-btn">Cancel</button>
                            </div>
                            </form>
                        </div>
                    </div>

                    <div class="popup-overlay" *ngIf="showUploadPopup && popupType === 'ROLE'">
                        <div class="popup-content">
                            <h3 class="display-style mb-3">Change User Role</h3>
                            <form [formGroup]="roleForm" (ngSubmit)="submitRoleChange()" class="overlay-style">
                                
                                <input type="email" formControlName="email" placeholder="User Email" required />
                    
                                <div *ngIf="roleForm.get('email')?.touched && roleForm.get('email')?.invalid" class="text-danger mt-1">
                                    <div *ngIf="roleForm.get('email')?.errors?.['required']" class="error-message">Email is required.</div>
                                    <div *ngIf="roleForm.get('email')?.errors?.['email']" class="error-message">Please enter a valid email address.</div>
                                </div>
                                
                                <div class="role-options" style="display: flex;">
                                    <label>
                                        <input type="radio" formControlName="role" value="USER" /> User
                                    </label>
                                    <label style="margin-left: 15px;">
                                        <input type="radio" formControlName="role" value="ADMIN" /> Admin
                                    </label>
                                </div>            
                                
                                <div class="concerns-btn">
                                    <button type="submit" class="submit-btn">Update Role</button>
                                    <button type="button" (click)="closeUploadPopup()" class="cancel-btn">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="marque-container">
        <marquee behavior="scroll" direction="left" scrollamount="5">
            <span class="marquee-text"> {{ marqueeMessage }} </span>
        </marquee>
    </div>

    <div class="main-content row">
        <div class="side-navbar col-md-3">
            <div class="side-cards">
                <i class="fas fa-user me-2 icon-style"></i>
                <h2 class="display-style">{{ getUserName() }}</h2> 
                <p class="display-style">{{ getUserRole() }}</p>
                <div class="display-style">
                    <button type="button" class="btn-logout" (click)="onLogout()"> <i class="fas fa-sign-out-alt"></i> Logout </button>
                </div>
                <p class="display-style mt-3">Filter All Concerns By Location.</p>
                <div class="location-filters">
                    <button type="button" class="btn btn-filter" *ngFor="let location of locations" (click)= "showConcernsByLocation(location)"> <i class="fas fa-map-marker-alt me-2"></i> {{ location }} </button>
                </div>
            </div>

            <div class="side-cards">
                <i class="fas fa-tachometer-alt me-2 icon-style"></i>
                <h3 class="display-style" style="font-size: 1.5rem;">Concerns Dashboard</h3>
                <p class="display-style">Status wise count</p>
                <div class="location-filters">
                    <button type="button" class="btn btn-filter" (click)="showConcernsByStatus('PENDING')"> <i class="fas fa-hourglass-half me-2"></i> Pending: {{ statusCount['PENDING'] || 0 }} </button>
                    <button type="button" class="btn btn-filter" (click)="showConcernsByStatus('RESOLVED')"> <i class="fas fa-check-circle me-2"></i> Resolved: {{ statusCount['RESOLVED'] || 0 }}  </button>
                    <button type="button" class="btn btn-filter" (click)="showConcernsByStatus('IN_PROGRESS')"> <i class="fas fa-spinner me-2"></i> In Progress: {{ statusCount['IN_PROGRESS'] || 0 }}  </button>
                </div>
            </div>

            <div class="footer">
                <p>&copy; 2025 Civic Bridge. All rights reserved.</p>
            </div>
        </div>

        <div class="content-area col-md-9">
            <div *ngFor="let concern of concerns" class="concern-card">
                <h3 class="concern-title">{{ concern.title }}</h3>
                <img *ngIf="concern.imageUrl"  [src]="concern.imageUrl ? concern.imageUrl : 'assets/concern.png'"   alt="Concern Image" class="concern-image">
                <p class="concern-description">{{ concern.description }}</p>
                <p class="concern-location"><i class="fas fa-map-marker-alt"></i> Location: {{ concern.location }}</p>
                <p class="concern-status"> Status: 
                    <span [ngClass]="{
                        'status-pending': concern.status === 'PENDING',
                        'status-completed': concern.status === 'RESOLVED',
                        'status-inprogress': concern.status === 'IN_PROGRESS'
                        }">
                        <i *ngIf="concern.status === 'PENDING'" class="fas fa-hourglass-half"></i>
                        <i *ngIf="concern.status === 'RESOLVED'" class="fas fa-check-circle"></i>
                        <i *ngIf="concern.status === 'IN_PROGRESS'" class="fas fa-spinner"></i>
                        {{ concern.status }}
                    </span>

                      <!-- ADMIN: show status dropdown -->
                    <select *ngIf="userRole === 'ADMIN'" class="m-2" [(ngModel)]="concern.status" (change)="changeStatus(concern)">
                        <option value="" disabled selected>Change Status</option>
                        <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
                    </select>
                </p>
                <div class="concern-comments">
                  <strong>Comments ({{ concern.comments?.length || 0 }}):</strong> 
                  <ul>
                    <li *ngFor="let comment of concern.comments">
                         <strong>{{ comment.userRole }}:</strong> {{ comment.text }}
                        <button class="btn btn-sm btn-danger ms-2 m-1" (click)="removeComment(concern, comment)" *ngIf="userRole === 'ADMIN'">Delete</button>
                    </li>
                    <li *ngIf="!concern.comments || concern.comments.length === 0">No comments yet.</li>
                  </ul>
                  <a href="javascript:void(0)" 
                    class="add-comment-link" 
                    (click)="toggleCommentBox(concern)">
                    {{ showCommentBox[concern.id] ? 'Cancel' : 'Add Comment' }}
                  </a>
                  <div *ngIf="showCommentBox[concern.id]" class="add-comment-section">
                    <input type="text" 
                            [(ngModel)]="newComments[concern.id]" 
                            placeholder="Enter your comment..." 
                            class="comment-input" />
                    <button class="btn btn-comment" (click)="addComment(concern)">Post</button>
                  </div>
                </div>
            </div>
            <div *ngIf="totalConcerns >= 6">
                <mat-paginator class="concern-pagination"  [length]="totalConcerns" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
            </div>
                <p *ngIf="concerns.length === 0" class="element-style">No concerns found.</p>
        </div>
    </div>
</div>

